@import '../../../styles/_colors.scss';

.leaflet-container {
    position: relative;
    height: 100%;
}

.leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leaflet-top, .leaflet-bottom {
    z-index: auto;
}

.subtitle {
    color: $gray;
    text-align: center;
}