// APPLICATION COLORS
$primary-color: #f9cb9c;
$primary-color-light: #fce5cd;
$primary-color-dark: #f6b26b;
$primary-color-text: #ffffff;

$secondary-color: #b6d7a8;
$secondary-color-light: #d9ead3;
$secondary-color-dark: #93c47d;
$secondary-color-text: #000000;

// ACTIONS COLORS
$danger-color: #dd4b39;
$danger-color-dark: #b13c2e;

$success-color: #00a65a;
$success-color-dark: #008548;

$warning-color: #f39c12;
$warning-color-dark: #c27d0e;

// CLASSIFICATION
$a-value: #038141;
$b-value: #85bb2f;
$c-value: #fecb02;
$d-value: #ee8100;
$e-value: #e63e11;