$primary-color: #009b00;
$primary-color-light: #54cd41;
$primary-color-dark: #006b00;
$primary-color-text: #ffffff;

$secondary-color: #bdbdbd;
$secondary-color-light: #efefef;
$secondary-color-dark: #8d8d8d;
$secondary-color-text: #000000;

$danger-color: #dc3545;
$danger-color-dark: #c82333;