@import '../../_shared.scss';

.homeContent{
  background: url("../../assets/imgs/homeBackground.jpg") no-repeat center;
  background-size: cover;
  color: $primary-color-text;
  height: 100%;
}

.homeContainer, .homeRow, .homeCol{
  height: 100%;
}

.homeContainer{
  max-width: none!important;
  width: 100%!important;
  margin: 0!important;
  padding-left: 50px;
  padding-right: 50px;
}

.homeCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeCol img{
  margin-bottom: 25px;
}

.homeCol p{
  width: 70%;
}

.homeCol h1{
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .homeCol{
    display: block;
    height: auto;
  }

  .homeCol img{
    margin-top: 50px;
    width: 150px;
  }

  .homeCol p{
    width: 100%;
  }

  .homeCol h1{
    margin-bottom: 25px;
    font-size: 2rem;
  }
}