

.commentDate{
  text-align: right;
}

.commentDateIcon, .commentDateText{
  width: auto!important;
}

.commentBody{
  padding-left: 10px;
}

.commentsEmpty{
  margin-top: 10px;
  text-align: center;
}