@import './styles/_colors.scss';

// GENERAL
.no-decoration {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

// BUTTONS
.btn-primary {
    color: $primary-color-text;
    background-color: $primary-color
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: $primary-color-text;
    background-color: $primary-color-dark
}

.btn-secondary {
    color: $secondary-color-text;
    background-color: $secondary-color
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    color: $secondary-color-text;
    background-color: $secondary-color-dark;
}

// TEXT
.text-primary {
    color: $primary-color-text;
}
.text-secondary {
    color: $secondary-color-text;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.textShadow {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}