@import '../../../_shared.scss';

.searchInput {
    width: 85% !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin: 0 !important;
}

.searchButton {
    width: 15% !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}