@import '../../../_shared.scss';

.card.product-card-container {
    margin: 1em;
    display: inline-block;
}

.card-body.product-card-content {
    padding: 0.3em;
}

.score-zone {
    width: 50px;
    height: 50px;
    margin-left: 125px;
    margin-top: -25px;
    display: inline-block;
}

.one-line-title {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productImg {
    width: 150px;
    height: 150px;
}