@import '../../../_shared.scss';

.card.card-container {
    margin: 1em;
    display: inline-block;
}

.card-body.card-content {
    padding: 0.3em;
}

.card-subtitle.good-score {
    color: $success-color;
}

.card-subtitle.medium-score {
    color: $warning-color;
}

.card-subtitle.bad-score {
    color: $danger-color;
}

.big-text {
    font-size: 200%;
}

.a-value {
    background-color: $a-value;
    color: $primary-color-text; 
}

.b-value {
    background-color: $b-value;
    color: $primary-color-text; 
}

.c-value {
    background-color: $c-value;
    color: $primary-color-text; 
}

.d-value {
    background-color: $d-value;
    color: $primary-color-text; 
}

.e-value {
    background-color: $e-value;
    color: $primary-color-text; 
}